@charset "UTF-8";
/* CSS Document */

body {
	text-align: center;
	background-color: #000000;
	color: #000000;
	font-family: "Open Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 500;
  	font-style: normal;
  	font-variation-settings: "width" 100;
}

.nav {
	text-align: center;
	overflow: hidden;
	display: block;
	padding: 10px;
	margin: 5px;
	margin-top: 15px;
}

a {
	padding: 25px;
	margin: 5px;
	font-size: 125%;
	background-color: #04747f; 
	color: #ffffff; 
}

a:hover {
	background-color: #f8bf29; 
	color: #000000;
}

h1 {
	text-decoration: underline;
	text-align: center;
	color: #ffffff;
}

h2, h3 { 
	text-align: center;
	color: #ffffff;
}

#wrapper {
	width: 85%;
	margin: 0 auto;
}

.stepTitle{
	padding: 20px;
	text-align: center;
	background-color: #f79e2b;
	font-weight: bold;
	font-size: 150%;
 }

.stepImage img {
    width:40%;
    height:auto;
	text-align: center;
	padding-top:20px;
}

.source {
	background-color: white;
	padding: 7px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.sourceDescription {
	width: 100%;
	padding: 7px;
}

strong {
  font-weight: 800;
}

.warning {
	background-color: lightpink;
	padding: 10px;
	border-radius: 20px;
	text-align: center;
}

.material-icons {
	color: black;
	font-size: 3em;
}

ol {
	text-align: left;
}

.homeimg {
	width: 600px;
	height: 400px;
}

.phet {
	background-color: #04747f;
	color: white;
	padding: 10px 20px;
}

.phet:hover {
	background-color: #f8bf29; 
	color: #000000;
}

.resources {
	color: black;
}