@charset "UTF-8";
/* CSS Document */

body {
	text-align: center;
	background-color: #DDDDDD;  
}

a {
	padding: 15px;
	margin: 3px;
	font-size: 125%;
	background-color:  #003663; 
	color:  #ffffff; 
}

a:hover {
	font-size: 200%;
	background-color: #ff6633; 
	color: #000000;
}

